<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="top">
        {% block top %}头部{% endblock %}
    </div>

    <div class="content">
        <div class="left">
            {% block left %}左侧{% endblock %}
        </div>
        <div class="right">
            {% block right %}右侧{% endblock %}
        </div>

    </div>


    <div class="buttom">
        {% block bottom %}尾部{% endblock %}
    </div>



</body>
</html>